<!DOCTYPE html>
<html lang="en" xmlns:th>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-6 mx-auto stretch-card col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">REGISTRA TU EMPRESA</h4>
                  <form class="forms-sample needs-validation" method="post" action="/organizationRegister" novalidate>
                    <div class="form-group">
                      <p  th:text="${successMessage}" style="color:#0062ff"></p>
                    </div>
                    <div class="form-group">
                      <h5 class="pb-2">Datos personales</h5>
                      <hr>
                      <label for="identificationCard" class="form-label">Cedula</label>
                      <input type="text" class="form-control" id="identificationCard" name="identificationCard" placeholder="Inserta la cedula" is-invalid required data-mask="999-9999999-9" autocomplete="off" maxlength="13">
                      <div class="invalid-feedback" id="identificationCardInvalid">
                        Cedula invalida!.
                      </div>
                      <div class="form-group">
                        <p  th:text="${errorIdentificationCard}" style="color:#ff0000"></p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="firstName" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombre" required>
                      <div class="invalid-feedback">
                        Por favor, digite su nombre!.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="lastName" class="form-label">Apellidos</label>
                      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellido" required>
                      <div class="invalid-feedback">
                        Por favor, digite su apellido!
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="city" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Ciudad" required>
                        <div class="invalid-feedback">
                          Por favor, digite su ciudad de residencia!
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="direction" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direction" name="direction" placeholder="Direccion" required>
                        <div class="invalid-feedback">
                          Por favor, digite su direccion de domicilio!
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <h5 class="pb-2">Datos de la empresa</h5>
                      <hr>
                      <label for="companyName" class="form-label">Nombre de la empresa</label>
                      <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Nombre de la empresa" required>
                      <div class="invalid-feedback">
                        Por favor, digite el nombre de su empresa!
                      </div>
                    </div>
                    <h5 class="pb-2">Autenticacion en el sistema</h5>
                    <hr>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Correo electronico" required>
                        <div class="invalid-feedback">
                          Por favor, digite su correo electronico!
                        </div>
                        <div class="form-group">
                          <p  th:text="${emailExist}" style="color:#ff0000"></p>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="password" class="form-label">Clave</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <div class="invalid-feedback">
                          Por favor, digite una contrasena!
                        </div>
                      </div>
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me <i class="input-helper"></i></label>
                    </div>
                    <div class="d-grid gap-2 d-md-block">
                      <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn mr-auto">CREAR CUENTA</button>
                      <a class="btn btn-block btn-danger btn-lg font-weight-normal auth-form-btn mr-1" href="/portal">IR AL PORTAL</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->

    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../js/validator.js"></script>
    <script src="../../js/validateFromApi.js"></script>

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js'></script>

  </body>
</html>