<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="public/FrontEnd_SFK/views/template.html :: head"></head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:replace="public/FrontEnd_SFK/views/template.html :: header">
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Administracion global</li>
            <li class="nav-item">
              <a class="nav-link" href="/projectAdmin">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Sucursales</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projectAdmin/shelfManagement">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Estantes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projectAdmin/containerManagement">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Container</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="d-xl-flex justify-content-between align-items-start" th:replace="public/FrontEnd_SFK/views/adminTemplate.html::adminTittle"></div>
            <div class="row" th:replace="public/FrontEnd_SFK/views/adminTemplate.html::adminStats"></div>
            <div class="tab-content tab-transparent-content">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="tab-content tab-transparent-content">
                        <div id="shelfMgmt" class="tab-pane fade show active pt-3">
                          <h4 class="card-title">Nuevo contenedor</h4>
                          <form method="post" action="/projectAdmin/containerManagement">
                            <div class="row">
                              <div class="form-group col-md-6">
                                <label for="idCompany">Seleccionar empresa: </label>
                                <select class="form-control" id="idCompany" style="line-height: 2.0;" name="idCompany" onchange="enableBranchOfficeSelect()">
                                  <option value="-1" selected> Seleccionar Empresa</option>
                                </select>
                              </div>
                              <div class="form-group col-md-6">
                                <label for="branchOffice">Seleccionar sucursal: </label>
                                <select disabled class="form-control" id="branchOffice" name="branchOffice" style="line-height: 2.0;" onchange="enableAddButton()">
                                  <option value="-1" selected>Seleccionar sucursal</option>
                                </select>
                              </div>
                            </div>
                              <button type="submit" class="btn btn-primary" disabled id="add">REGISTRAR CONTENEDOR</button>
                          </form>
                          <hr>
                          <h4 class="card-title">LISTADO DE CONTENEDORES</h4>
                            <div class="table-responsive">
                              <table id="tableShelfList" name="tableShelfList" class="table table-hover table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Empresa</th>
                                  <th>Sucursal</th>
                                  <th>Fecha de Registro</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="container: ${containerList}">
                                  <td class="text-left" th:text="${container.id}">Id</td>
                                  <td class="text-left" th:text="${container.branchOffice.company.name}">Empresa</td>
                                  <td class="text-left" th:text="${container.branchOffice.address.city}">Sucursal</td>
                                  <td class="text-left" th:text="${container.registerDate}">Fecha de registro</td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                  <th>ID</th>
                                  <th>Empresa</th>
                                  <th>Sucursal</th>
                                  <th>Fecha de Registro</th>
                                </tr>
                                </tfoot>
                              </table>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Modal -->
          <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="modalEdit">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h4 class="card-title">Editar contenedor</h4>
                  <form method="post" action="/projectAdmin/editContainer">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="idCompany">Seleccionar empresa: </label>
                        <select class="form-control" id="idCompanyContainer" style="line-height: 2.0;" name="idCompanyContainer" onchange="enableBranchOfficeSelect()">
                          <option value="-1" selected> Seleccionar Empresa</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="branchOffice">Seleccionar sucursal: </label>
                        <select disabled class="form-control" id="branchOfficeContainer" name="branchOffice" style="line-height: 2.0;" onchange="enableAddButton()">
                          <option value="-1" selected>Seleccionar sucursal</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                  <button type="button" class="btn btn-primary">EDITAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script type='text/javascript' src="../../js/sfkProjectAdmin.js"></script>
    <div th:replace="public/FrontEnd_SFK/views/template.html::javascript"></div>
  </body>
</html>