<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/FrontEnd_SFK/views/template.html :: head"></head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
         th:replace="public/FrontEnd_SFK/views/template.html :: header">
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-category">Monitoreo inteligente</li>
                <li class="nav-item">
                    <a class="nav-link" href="/employeePortal">
                        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                        <span class="menu-title">Notificaciones</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employeePortal/sales-express">
                        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                        <span class="menu-title">Venta Express</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employeePortal/shelfMonitoringEmployee">
                        <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                        <span class="menu-title">Estante</span>
                    </a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/employeePortal/containerMonitoringEmployee">
                        <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                        <span class="menu-title">Contenedor</span>
                    </a>
                </li>
                -->
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
                    <ul class="nav nav-tabs tab-transparent" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="pill" href="#employeeRegister"
                               role="tab" aria-selected="true">Venta express (Clasificacion)</a>
                        </li>
                    </ul>
                    <div class="d-md-block d-none">
                        <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
                        <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
                    </div>
                </div>
                <div class="tab-content tab-transparent-content">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="tab-content tab-transparent-content">
                                        <div class="tab-pane fade show active pt-3">
                                            <form method="post" action="/employeePortal/sales-express">
                                                <div class="col-md-4">
                                                    <h4 class="card-title">Fecha</h4>
                                                    <h3 id="elaborationDate"></h3>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label for="brachOffice">Sucursal: </label>
                                                        <input type="text" class="form-control" id="brachOffice" name="brachOffice" th:value="${branchOfficeEmployee}" disabled>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="idShelf">Estante: </label>

                                                        <select class="form-control" id="shelfSelect" name="shelfSelect" style="line-height: 2.0">
                                                            <option value="-1" disabled selected>Seleccionar estante</option>
                                                            <option selected th:each="shelf,stauts: ${shelfSelect}" th:text="${shelf.deviceId}" th:selected="${stauts.index==0}" ></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label for="fruitType">Tipo de fruta: </label>
                                                        <select class="form-control" id="fruitType" style="line-height: 2.0;" name="fruitType" onchange="enableBranchOfficeSelect()">
                                                            <option selected th:each="product,stauts: ${productList}" th:text="${product.fruitType}" th:selected="${stauts.index==0}" ></option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="fruitQuantity">Cantidad de frutas: </label>
                                                        <input type="number" class="form-control" name="fruitQuantity" id="fruitQuantity" placeholder="Seleccionar cantidad de frutas" required>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary" id="addPost">AGREGAR</button>
                                            </form>
                                            <hr>
                                            <h4 class="card-title">PUBLICACION FRUTAS EXPRESS</h4>
                                            <div class="table-responsive">
                                                <table id="tableShelfList" name="tableShelfList"
                                                       class="table table-hover table-bordered" style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Empresa</th>
                                                        <th>Sucursal</th>
                                                        <th>Fruta</th>
                                                        <th>Cantidad</th>
                                                        <th>% Descuento (Unitario)</th>
                                                        <th>Fecha de inspeccion</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="express: ${makingPostList}">
                                                        <td class="text-left" th:text="${express.id}">Id</td>
                                                        <td class="text-left" th:text="${express.branchoffice.company.name}">Empresa</td>
                                                        <td class="text-left" th:text="${express.branchOffice.address.city} +' '+'(' +${express.branchOffice.address.direction}+')' ">Sucursal</td>
                                                        <td class="text-left" th:text="${express.fruitType}">Fruta</td>
                                                        <td class="text-left" th:text="${express.quantity}">Cantidad</td>
                                                        <td class="text-left" th:text="${express.discountPercentage}+'%'">% Descuento (Unitario)</td>
                                                        <td class="text-left" th:text="${express.inspectionDate}">Fecha de inspeccion</td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Empresa</th>
                                                        <th>Sucursal</th>
                                                        <th>Fruta</th>
                                                        <th>Cantidad</th>
                                                        <th>% Descuento (Unitario)</th>
                                                        <th>Fecha de inspeccion</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <form method="post" action="/employeePortal/publish-express">
                                        <button type="submit" class="btn btn-primary" id="publishPost">PUBLICAR ALERTAS</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="public/FrontEnd_SFK/views/template.html::javascript"></div>
</body>
</html>