<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="public/FrontEnd_SFK/views/template.html :: head"></head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:replace="public/FrontEnd_SFK/views/template.html :: header">
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="public/FrontEnd_SFK/views/template.html::sidebar">
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
              <!-- Credit card form tabs -->
              <ul role="tablist" class="nav nav-tabs tab-transparent">
                <li class="nav-item"> <a data-toggle="pill" href="#containerMgmt" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i>Nuevo Contenedor</a> </li>
                <li class="nav-item"> <a data-toggle="pill" href="#containerList"     class="nav-link"> <i class="fab fa-paypal mr-2"></i>Listado de Contenedores</a> </li>
              </ul>
            </div>
            <div class="tab-content tab-transparent-content">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="tab-content tab-transparent-content">
                        <div id="containerMgmt" class="tab-pane fade show active pt-3">
                          <h4 class="card-title">Nuevo contenedor</h4>
                          <form>
                            <div class="form-group">
                              <div class="form-group">
                                <label for="ID">ID</label>
                                <input type="text" class="form-control" id="name" placeholder="CON-RU-001">
                              </div>
                              <div class="form-group">
                                <label for="Company">Empresa</label>
                                <input type="text" class="form-control" id="direction" placeholder=" La Sirena">
                              </div>
                              <div class="form-group">
                                <label for="office">Surcusal</label>
                                <input type="text" class="form-control" id="city" placeholder="Ej. Calle 16 de agosto #10">
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">REGISTRAR CONTENEDOR</button>
                          </form>
                        </div>
                        <div id="containerList" class="tab-pane fade">
                          <h4 class="card-title">Listado</h4>

                          <div class="table-responsive">
                            <table id="example" class="table table-hover table-bordered" style="width:100%">
                              <thead>
                              <tr>
                                <th>ID</th>
                                <th>Empresa</th>
                                <th>Sucursal</th>
                                <th>Status</th>
                                <th>Fecha de Registro</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>CON-RU-001</td>
                                <td>La Sirena</td>
                                <td>Reparto Universitario</td>
                                <td><label class="badge badge-success">Activo</label></td>
                                <td>24/02/2022</td>
                              </tr>    
                              <tr>
                                <td>CON-VO-001</td>
                                <td>Nacional</td>
                                <td>Villa Olga</td>
                                <td><label class="badge badge-success">Activo</label></td>
                                <td>28/02/2022</td>
                              </tr>    
                              </tbody>
                              <tfoot>
                              <tr>
                                <th>ID</th>
                                <th>Empresa</th>
                                <th>Sucursal</th>
                                <th>Status</th>
                                <th>Fecha de Registro</th>
                              </tr>
                              </tfoot>
                            </table>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <div th:replace="public/FrontEnd_SFK/views/template.html::javascript"></div>
  </body>
</html>